In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [2]:
r=requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [3]:
soup=BeautifulSoup(r.text,'html.parser')

In [4]:
postal_code=[]
borough=[]
neighborhood=[]
for rows in soup.find('table').find_all("tr"):
    rows=rows.find_all("td")
    if(len(rows)>0):
        postal_code.append(rows[0].text.rstrip('\n'))
        borough.append(rows[1].text.rstrip('\n'))
        neighborhood.append(rows[2].text.rstrip('\n'))

In [5]:
toronto_df=pd.DataFrame({'PostalCode':postal_code,'Borough':borough,'Neighborhood':neighborhood})
toronto_df.head()

  PostalCode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

In [7]:
toronto_df=toronto_df[toronto_df['Borough']!='Not assigned'].reset_index()
toronto_df=toronto_df.drop('index',1)
toronto_df.head()

  PostalCode           Borough                                 Neighborhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [8]:
toronto_df=toronto_df.groupby(['PostalCode','Borough'],as_index=False).agg(lambda x: ",".join(x))
toronto_df.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [9]:
for i,j in enumerate(toronto_df['Borough']):
    if(toronto_df.loc[i,'Neighborhood']=='Not assigned'):
        toronto_df.loc[i,'Neighborhood']=j

In [10]:
toronto_df.shape

(103, 3)

In [33]:
url = 'http://cocl.us/Geospatial_data'

In [34]:
df_geo = pd.read_csv(url)
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [41]:
df_geo.dtypes

Postal Code     object
Latitude       float64
Longitude      float64
dtype: object

In [43]:
df_geo.shape

(103, 3)

In [45]:
test_list = ["M5G", "M2H", "M4B", "M1J", "M4G", "M4M", "M1R", "M9V", "M9L", "M5V", "M1B", "M5A"]
test=pd.DataFrame()
for i in test_list:
    test=test.append(toronto_df[toronto_df['PostalCode']==i])
test

,PostalCode,Borough,Neighborhood
57,M5G,Downtown Toronto,Central Bay Street
17,M2H,North York,Hillcrest Village
35,M4B,East York,"Parkview Hill, Woodbine Gardens"
5,M1J,Scarborough,Scarborough Village
38,M4G,East York,Leaside
43,M4M,East Toronto,Studio District
11,M1R,Scarborough,"Wexford, Maryvale"
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
96,M9L,North York,Humber Summit
68,M5V,Downtown Toronto,"CN Tower, King and Spadina, Railway Lands, Har..."
0,M1B,Scarborough,"Malvern, Rouge"
53,M5A,Downtown Toronto,"Regent Park, Harbourfront"